<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset="utf-8">
        <title>Video Chat App</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>

        <div id="video-chat-form">
            <h2 class="text">Video Chat App</h2>
            <input id="roomName" type="text" name="roomName" placeholder="Room Name" />
            <button id="join">Join</button>
        </div>
        <div id="video-chat-rooms">
            <video id="user-video"></video>
            <video id="peer-video"></video>
        </div>
        <div class="btn-group" id="btn-group" style="display: none;">
            <button id="leaveButton">Leave Room</button>
            <button id="hideButton">Hide Camera</button>
        </div>
        <div id="control-flatform-button">
            <button id="forward" style="display:none">Forward</button>
            <button id="Backward" style="display:none">Back</button>
            <button id="Left" style="display:none">Left</button>
            <button id="Right" style="display:none">Right</button>
        </div>
        <div id="switch-access" style="display: none;">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round">
                </span>
            </label>
        </div>
    </body>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="js/script.js"></script>
</html>
